<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace命名空间，非常重要，一致 -->
<mapper namespace="cn.tedu.jt.mapper.ItemMapper">
	<!--  id属性，必须在这个命名空间下唯一
		resultType 返回值类型，如果集合List，只写集合中元素类型
	 -->
	<select id="find" resultType="cn.tedu.jt.pojo.Item">
select * from tb_item
	</select>
</mapper>